.App {
  text-align: left;
  font-family: Arial, sans-serif;
}

.App h1 {
  font-size: 3em;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #e35d627a, #ffbf00a8);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
p {
  color: #333;
}

.flex-container {
  display: flex;

  align-items: flex-start; /* Align items at the top */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 0px; /* Add some space between the form and the chart grid */
}

.left-side {
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 3%;
  margin-right: 20px;
}

.home-finder-form {
  align-items: flex-start;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: black;
}

input {
  padding: 8px;
  width: 100%;
  max-width: 280px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #b13c3c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #900c3f;
}

.chart-grid {
  margin-left: 40px;
  flex: 1;
  margin-right: 50px 0; /* Center the grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px; /* Limit the width of the grid */
  width: 100%;
}

.chart-item {
  width: 100%;
  padding: 30px; /* Optional: Add padding for better alignment */
}

.ai-response {
}

.gemini-component {
  text-align: center;
}

.smart-insights-content {
  color: #900c3f;
}

#smart-insights-section {
  padding-top: -30px;
}
